apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app-osman
  annotations:
    sidecar-injector.io/inject: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
      - name: main
        image: nginx:latest
        ports:
        - containerPort: 80
