apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  annotations:
    sidecar-injector.io/inject: "true"
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: main
        image: nginx:latest
        ports:
        - containerPort: 80
